# Capstone Project: Part 0 Data Aggregation

In [1]:
# imports
import pandas as pd
import os
import re
import pickle

In [2]:
os.getcwd()

'/Users/ranyasatkuna/Documents/DSIR 1010/Projects/capstone/Code'

In [3]:
root = os.getcwd()

In [4]:
os.chdir('../Data/original_data')

In [5]:
jan2022 = pd.read_csv('./2022/tdor_2022_01.csv')
feb2022 = pd.read_csv('./2022/tdor_2022_02.csv')
mar2022 = pd.read_csv('./2022/tdor_2022_03.csv')
apr2022 = pd.read_csv('./2022/tdor_2022_04.csv')
may2022 = pd.read_csv('./2022/tdor_2022_05.csv')
jun2022 = pd.read_csv('./2022/tdor_2022_06.csv')
jul2022 = pd.read_csv('./2022/tdor_2022_07.csv')
aug2022 = pd.read_csv('./2022/tdor_2022_08.csv')
sep2022 = pd.read_csv('./2022/tdor_2022_09.csv')

In [6]:
feb2022 = feb2022.rename(columns = {'Location':'Town/City/Municipality'})

In [7]:
jan2022 = jan2022.iloc[:38,:-7]
feb2022 = feb2022.iloc[:41,:-7]
mar2022 = mar2022.iloc[:36,:-7]
apr2022 = apr2022.iloc[:36,:-7]
may2022 = may2022.iloc[:41,:-7]
jun2022 = jun2022.iloc[:30,:-7]
jul2022 = jul2022.iloc[:32,:-7]
aug2022 = aug2022.iloc[:23,:-7]
sep2022 = sep2022.iloc[:29,:-7]

In [8]:
df_2022 = pd.concat([jan2022,feb2022,mar2022,apr2022,may2022,jun2022,jul2022,aug2022,sep2022], axis = 0)
df_2022= df_2022.drop(columns = ['Address','Locality','Birthdate'])
df_2022 = df_2022.rename(columns = {'TDoR list ref':'Source ref'})

In [9]:
jan2021 = pd.read_csv('./2021/tdor_2021_01.csv')
feb2021 = pd.read_csv('./2021/tdor_2021_02.csv')
mar2021 = pd.read_csv('./2021/tdor_2021_03.csv')
apr2021 = pd.read_csv('./2021/tdor_2021_04.csv')
may2021 = pd.read_csv('./2021/tdor_2021_05.csv')
jun2021 = pd.read_csv('./2021/tdor_2021_06.csv')
jul2021 = pd.read_csv('./2021/tdor_2021_07.csv')
aug2021 = pd.read_csv('./2021/tdor_2021_08.csv')
sep2021 = pd.read_csv('./2021/tdor_2021_09.csv')
oct2021 = pd.read_csv('./2021/tdor_2021_10.csv')
nov2021 = pd.read_csv('./2021/tdor_2021_11.csv')
dec2021 = pd.read_csv('./2021/tdor_2021_12.csv')

In [10]:
feb2021 = feb2021.rename(columns = {'Location':'Town/City/Municipality'})
aug2021 = aug2021.drop(columns = 'Unnamed: 19')
oct2021 = oct2021.drop(columns = 'Unnamed: 19')
# sept2021 completely unusable

In [11]:
jan2021 = jan2021.iloc[:,:]
feb2021 = feb2021.iloc[:,:]
mar2021 = mar2021.iloc[:38,:]
apr2021 = apr2021.iloc[:,:]
may2021 = may2021.iloc[:50,:]
jun2021 = jun2021.iloc[:47,:]
jul2021 = jul2021.iloc[:35,:]
aug2021 = aug2021.iloc[:,:]
sep2021 = sep2021.iloc[:,:]
oct2021 = oct2021.iloc[:31,:]
nov2021 = nov2021.iloc[:23,:]
dec2021 = dec2021.iloc[:30,:]

In [12]:
df_2021 = pd.concat([jan2021,feb2021,mar2021,apr2021,may2021,jun2021,jul2021,aug2021,oct2021,nov2021,dec2021], axis = 0)
df_2021= df_2021.drop(columns = ['Address','Locality','Birthdate'])
df_2021 = df_2021.rename(columns = {'TDoR list ref':'Source ref'})

In [13]:
jan2020 = pd.read_csv('./2020/tdor_2020_01.csv')
feb2020 = pd.read_csv('./2020/tdor_2020_02.csv')
mar2020 = pd.read_csv('./2020/tdor_2020_03.csv')
apr2020 = pd.read_csv('./2020/tdor_2020_04.csv')
may2020 = pd.read_csv('./2020/tdor_2020_05.csv')
jun2020 = pd.read_csv('./2020/tdor_2020_06.csv')
jul2020 = pd.read_csv('./2020/tdor_2020_07.csv')
aug2020 = pd.read_csv('./2020/tdor_2020_08.csv')
sep2020 = pd.read_csv('./2020/tdor_2020_09.csv')
oct2020 = pd.read_csv('./2020/tdor_2020_10.csv')
nov2020 = pd.read_csv('./2020/tdor_2020_11.csv')
dec2020 = pd.read_csv('./2020/tdor_2020_12.csv')

In [14]:
oct2020 = oct2020.rename(columns = {'TDoR list ref':'Source ref'})
nov2020 = nov2020.rename(columns = {'TDoR list ref':'Source ref'})
dec2020 = dec2020.rename(columns = {'TDoR list ref':'Source ref'})
oct2020 = oct2020.drop(columns = ['Address','Locality'])
nov2020 = nov2020.drop(columns = ['Address','Locality'])
dec2020 = dec2020.drop(columns = ['Address','Locality', 'Unnamed: 19'])

In [15]:
jan2020 = jan2020.iloc[:,:]
feb2020 = feb2020.iloc[:,:]
mar2020 = mar2020.iloc[:38,:]
apr2020 = apr2020.iloc[:34,:]
may2020 = may2020.iloc[:32,:]
jun2020 = jun2020.iloc[:38,:]
jul2020 = jul2020.iloc[:,:]
aug2020 = aug2020.iloc[:,:]
sep2020 = sep2020.iloc[:37,:]
oct2020 = oct2020.iloc[:35,:]
nov2020 = nov2020.iloc[:33,:]
dec2020 = dec2020.iloc[:43,:]

In [16]:
df_2020 = pd.concat([jan2020,feb2020,mar2020,apr2020,may2020,jun2020,jul2020,aug2020,sep2020, oct2020,nov2020,dec2020], axis = 0)
df_2020 = df_2020.drop(columns = 'Birthdate')
df_2020 = df_2020.rename(columns = {'Location':'Town/City/Municipality'})

In [17]:
jan2019 = pd.read_csv('./2019/tdor_2019_01.csv')
feb2019 = pd.read_csv('./2019/tdor_2019_02.csv')
mar2019 = pd.read_csv('./2019/tdor_2019_03.csv')
apr2019 = pd.read_csv('./2019/tdor_2019_04.csv')
may2019 = pd.read_csv('./2019/tdor_2019_05.csv')
jun2019 = pd.read_csv('./2019/tdor_2019_06.csv')
jul2019 = pd.read_csv('./2019/tdor_2019_07.csv')
aug2019 = pd.read_csv('./2019/tdor_2019_08.csv')
sep2019 = pd.read_csv('./2019/tdor_2019_09.csv')
oct2019 = pd.read_csv('./2019/tdor_2019_10.csv')
nov2019 = pd.read_csv('./2019/tdor_2019_11.csv')
dec2019 = pd.read_csv('./2019/tdor_2019_12.csv')

In [18]:
mar2019 = mar2019.rename(columns = {'TDoR list ref':'Source ref'})
aug2019 = aug2019.rename(columns = {'TDoR list ref':'Source ref'})
sep2019 = sep2019.rename(columns = {'TDoR list ref':'Source ref'})
mar2019 = mar2019.drop(columns = ['Address','Locality'])
sep2019 = sep2019.drop(columns = ['Address','Locality'])
oct2019 = oct2019.drop(columns = ['Address','Locality'])
jan2019 = jan2019.rename(columns = {'Location':'Town/City/Municipality'})
feb2019 = feb2019.rename(columns = {'Location':'Town/City/Municipality'})
apr2019 = apr2019.rename(columns = {'Location':'Town/City/Municipality'})
may2019 = may2019.rename(columns = {'Location':'Town/City/Municipality'})
jun2019 = jun2019.rename(columns = {'Location':'Town/City/Municipality'})
jul2019 = jul2019.rename(columns = {'Location':'Town/City/Municipality'})
aug2019 = aug2019.rename(columns = {'Location':'Town/City/Municipality'})
nov2019 = nov2019.rename(columns = {'Location':'Town/City/Municipality'})
dec2019 = dec2019.rename(columns = {'Location':'Town/City/Municipality'})

In [19]:
jan2019 = jan2019.iloc[:,:]
feb2019 = feb2019.iloc[:27,:]
mar2019 = mar2019.iloc[:38,:]
apr2019 = apr2019.iloc[:30,:]
may2019 = may2019.iloc[:,:]
jun2019 = jun2019.iloc[:28,:]
jul2019 = jul2019.iloc[:28,:-1]
aug2019 = aug2019.iloc[:31,:-1]
sep2019 = sep2019.iloc[:,:-1]
oct2019 = oct2019.iloc[:29,:-1]
nov2019 = nov2019.iloc[:26,:-1]
dec2019 = dec2019.iloc[:28,:-1]

In [20]:
df_2019 = pd.concat([jan2019,feb2019,mar2019,apr2019,may2019,jun2019,jul2019,aug2019,sep2019, oct2019,nov2019,dec2019], axis = 0)
df_2019 = df_2019.drop(columns = 'Birthdate')

In [21]:
jan2018 = pd.read_csv('./2018/tdor_2018_01.csv')
feb2018 = pd.read_csv('./2018/tdor_2018_02.csv')
mar2018 = pd.read_csv('./2018/tdor_2018_03.csv')
apr2018 = pd.read_csv('./2018/tdor_2018_04.csv')
may2018 = pd.read_csv('./2018/tdor_2018_05.csv')
jun2018 = pd.read_csv('./2018/tdor_2018_06.csv')
jul2018 = pd.read_csv('./2018/tdor_2018_07.csv')
aug2018 = pd.read_csv('./2018/tdor_2018_08.csv')
sep2018 = pd.read_csv('./2018/tdor_2018_09.csv')
oct2018 = pd.read_csv('./2018/tdor_2018_10.csv')
nov2018 = pd.read_csv('./2018/tdor_2018_11.csv')
dec2018 = pd.read_csv('./2018/tdor_2018_12.csv')

In [22]:
feb2018 = feb2018.rename(columns = {'TDoR list ref':'Source ref'})
mar2018 = mar2018.rename(columns = {'TDoR list ref':'Source ref'})
nov2018 = nov2018.rename(columns = {'TDoR list ref':'Source ref'})
feb2018 = feb2018.drop(columns = ['Address','Locality'])
mar2018 = mar2018.drop(columns = ['Address','Locality'])
nov2018 = nov2018.drop(columns = ['Address','Locality'])
jan2018 = jan2018.rename(columns = {'Location':'Town/City/Municipality'})
apr2018 = apr2018.rename(columns = {'Location':'Town/City/Municipality'})
may2018 = may2018.rename(columns = {'Location':'Town/City/Municipality'})
jun2018 = jun2018.rename(columns = {'Location':'Town/City/Municipality'})
jul2018 = jul2018.rename(columns = {'Location':'Town/City/Municipality'})
aug2018 = aug2018.rename(columns = {'Location':'Town/City/Municipality'})
sep2018 = sep2018.rename(columns = {'Location':'Town/City/Municipality'})
oct2018 = oct2018.rename(columns = {'Location':'Town/City/Municipality'})
dec2018 = dec2018.rename(columns = {'Location':'Town/City/Municipality'})

In [23]:
jan2018 = jan2018.iloc[:33,:]
feb2018 = feb2018.iloc[:42,:]
mar2018 = mar2018.iloc[:44,:-1]
apr2018 = apr2018.iloc[:31,:]
may2018 = may2018.iloc[:25,:]
jun2018 = jun2018.iloc[:37,:-1]
jul2018 = jul2018.iloc[:28,:-1]
aug2018 = aug2018.iloc[:39,:-1]
sep2018 = sep2018.iloc[:31,:-1]
oct2018 = oct2018.iloc[:32,:]
nov2018 = nov2018.iloc[:21,:]
dec2018 = dec2018.iloc[:29,:]

In [24]:
df_2018 = pd.concat([jan2018,feb2018,mar2018,apr2018,may2018,jun2018,jul2018,aug2018,sep2018, oct2018,nov2018,dec2018], axis = 0)
df_2018 = df_2018.drop(columns = 'Birthdate')

In [25]:
jan2017 = pd.read_csv('./2017/tdor_2017_01.csv')
feb2017 = pd.read_csv('./2017/tdor_2017_02.csv')
mar2017 = pd.read_csv('./2017/tdor_2017_03.csv')
apr2017 = pd.read_csv('./2017/tdor_2017_04.csv')
may2017 = pd.read_csv('./2017/tdor_2017_05.csv')
jun2017 = pd.read_csv('./2017/tdor_2017_06.csv')
jul2017 = pd.read_csv('./2017/tdor_2017_07.csv')
aug2017 = pd.read_csv('./2017/tdor_2017_08.csv')
sep2017 = pd.read_csv('./2017/tdor_2017_09.csv')
oct2017 = pd.read_csv('./2017/tdor_2017_10.csv')
nov2017 = pd.read_csv('./2017/tdor_2017_11.csv')
dec2017 = pd.read_csv('./2017/tdor_2017_12.csv')

In [26]:
feb2017 = feb2017.rename(columns = {'TDoR list ref':'Source ref'})
may2017 = may2017.rename(columns = {'TDoR list ref':'Source ref'})
jul2017 = jul2017.rename(columns = {'TDoR list ref':'Source ref'})
feb2017 = feb2017.drop(columns = ['Address','Locality'])
may2017 = may2017.drop(columns = ['Address','Locality'])
jul2017 = jul2017.drop(columns = ['Address','Locality'])
jan2017 = jan2017.rename(columns = {'Location':'Town/City/Municipality'})
mar2017 = mar2017.rename(columns = {'Location':'Town/City/Municipality'})
apr2017 = apr2017.rename(columns = {'Location':'Town/City/Municipality'})
jun2017 = jun2017.rename(columns = {'Location':'Town/City/Municipality'})
aug2017 = aug2017.rename(columns = {'Location':'Town/City/Municipality'})
sep2017 = sep2017.rename(columns = {'Location':'Town/City/Municipality'})
oct2017 = oct2017.rename(columns = {'Location':'Town/City/Municipality'})
nov2017 = nov2017.rename(columns = {'Location':'Town/City/Municipality'})
dec2017 = dec2017.rename(columns = {'Location':'Town/City/Municipality'})

In [27]:
jan2017 = jan2017.iloc[:30,:-1]
feb2017 = feb2017.iloc[:45,:]
mar2017 = mar2017.iloc[:25,:-1]
apr2017 = apr2017.iloc[:33,:]
may2017 = may2017.iloc[:31,:-1]
jun2017 = jun2017.iloc[:31,:]
jul2017 = jul2017.iloc[:34,:-1]
aug2017 = aug2017.iloc[:31,:-1]
sep2017 = sep2017.iloc[:33,:-1]
oct2017 = oct2017.iloc[:41,:]
nov2017 = nov2017.iloc[:37,:]
dec2017 = dec2017.iloc[:35,:]

In [28]:
df_2017 = pd.concat([jan2017,feb2017,mar2017,apr2017,may2017,jun2017,jul2017,aug2017,sep2017, oct2017,nov2017,dec2017], axis = 0)
df_2017 = df_2017.drop(columns = 'Birthdate')

In [29]:
jan2016 = pd.read_csv('./2016/tdor_2016_01.csv')
feb2016 = pd.read_csv('./2016/tdor_2016_02.csv')
mar2016 = pd.read_csv('./2016/tdor_2016_03.csv')
apr2016 = pd.read_csv('./2016/tdor_2016_04.csv')
may2016 = pd.read_csv('./2016/tdor_2016_05.csv')
jun2016 = pd.read_csv('./2016/tdor_2016_06.csv')
jul2016 = pd.read_csv('./2016/tdor_2016_07.csv')
aug2016 = pd.read_csv('./2016/tdor_2016_08.csv')
sep2016 = pd.read_csv('./2016/tdor_2016_09.csv')
oct2016 = pd.read_csv('./2016/tdor_2016_10.csv')
nov2016 = pd.read_csv('./2016/tdor_2016_11.csv')
dec2016 = pd.read_csv('./2016/tdor_2016_12.csv')

In [30]:
jan2016 = jan2016.iloc[:,:]
feb2016 = feb2016.iloc[:,:]
mar2016 = mar2016.iloc[:,:]
apr2016 = apr2016.iloc[:18,:]
may2016 = may2016.iloc[:,:]
jun2016 = jun2016.iloc[:,:]
jul2016 = jul2016.iloc[:,:-1]
aug2016 = aug2016.iloc[:20,:-1]
sep2016 = sep2016.iloc[:,:-1]
oct2016 = oct2016.iloc[:,:]
nov2016 = nov2016.iloc[:,:]
dec2016 = dec2016.iloc[:24,:-1]

In [31]:
feb2016 = feb2016.rename(columns = {'TDoR list ref':'Source ref'})
jun2016 = jun2016.rename(columns = {'TDoR list ref':'Source ref'})
oct2016 = oct2016.rename(columns = {'TDoR list ref':'Source ref'})
dec2016 = dec2016.rename(columns = {'TDoR list ref':'Source ref'})
jan2016 = jan2016.rename(columns = {'Location':'Town/City/Municipality'})
mar2016 = mar2016.rename(columns = {'Location':'Town/City/Municipality'})
apr2016 = apr2016.rename(columns = {'Location':'Town/City/Municipality'})
may2016 = may2016.rename(columns = {'Location':'Town/City/Municipality'})
jul2016 = jul2016.rename(columns = {'Location':'Town/City/Municipality'})
aug2016 = aug2016.rename(columns = {'Location':'Town/City/Municipality'})
sep2016 = sep2016.rename(columns = {'Location':'Town/City/Municipality'})
oct2016 = oct2016.rename(columns = {'Location':'Town/City/Municipality'})
nov2016 = nov2016.rename(columns = {'Location':'Town/City/Municipality'})
feb2016 = feb2016.drop(columns = ['Address','Locality'])
jun2016 = jun2016.drop(columns = ['Address','Locality'])
dec2016 = dec2016.drop(columns = ['Address','Locality'])

In [32]:
df_2016 = pd.concat([jan2016,feb2016,mar2016,apr2016,may2016,jun2016,jul2016,aug2016,sep2016, oct2016,nov2016,dec2016], axis = 0)
df_2016 = df_2016.drop(columns = 'Birthdate')

In [33]:
jan2015 = pd.read_csv('./2015/tdor_2015_01.csv')
feb2015 = pd.read_csv('./2015/tdor_2015_02.csv')
mar2015 = pd.read_csv('./2015/tdor_2015_03.csv')
apr2015 = pd.read_csv('./2015/tdor_2015_04.csv')
may2015 = pd.read_csv('./2015/tdor_2015_05.csv')
jun2015 = pd.read_csv('./2015/tdor_2015_06.csv')
jul2015 = pd.read_csv('./2015/tdor_2015_07.csv')
aug2015 = pd.read_csv('./2015/tdor_2015_08.csv')
sep2015 = pd.read_csv('./2015/tdor_2015_09.csv')
oct2015 = pd.read_csv('./2015/tdor_2015_10.csv')
nov2015 = pd.read_csv('./2015/tdor_2015_11.csv')
dec2015 = pd.read_csv('./2015/tdor_2015_12.csv')

In [34]:
jan2015 = jan2015.iloc[:29,:]
feb2015 = feb2015.iloc[:30,:]
mar2015 = mar2015.iloc[:25,:]
apr2015 = apr2015.iloc[:21,:]
may2015 = may2015.iloc[:19,:]
jun2015 = jun2015.iloc[:17,:]
jul2015 = jul2015.iloc[:36,:]
aug2015 = aug2015.iloc[:11,:]
sep2015 = sep2015.iloc[:11,:]
oct2015 = oct2015.iloc[:23,:]
nov2015 = nov2015.iloc[:17,:]
dec2015 = dec2015.iloc[:22,:]

In [35]:
df_2015 = pd.concat([jan2015,feb2015,mar2015,apr2015,may2015,jun2015,jul2015,aug2015,sep2015, oct2015,nov2015,dec2015], axis = 0)
df_2015 = df_2015.drop(columns = 'Birthdate')
df_2015 = df_2015.rename(columns = {'Location':'Town/City/Municipality'})

In [36]:
jan2014 = pd.read_csv('./2014/tdor_2014_01.csv')
feb2014 = pd.read_csv('./2014/tdor_2014_02.csv')
mar2014 = pd.read_csv('./2014/tdor_2014_03.csv')
apr2014 = pd.read_csv('./2014/tdor_2014_04.csv')
may2014 = pd.read_csv('./2014/tdor_2014_05.csv')
jun2014 = pd.read_csv('./2014/tdor_2014_06.csv')
jul2014 = pd.read_csv('./2014/tdor_2014_07.csv')
aug2014 = pd.read_csv('./2014/tdor_2014_08.csv')
sep2014 = pd.read_csv('./2014/tdor_2014_09.csv')
oct2014 = pd.read_csv('./2014/tdor_2014_10.csv')
nov2014 = pd.read_csv('./2014/tdor_2014_11.csv')
dec2014 = pd.read_csv('./2014/tdor_2014_12.csv')

In [37]:
jan2014 = jan2014.iloc[:34,:]
feb2014 = feb2014.iloc[:24,:]
mar2014 = mar2014.iloc[:26,:]
apr2014 = apr2014.iloc[:15,:]
may2014 = may2014.iloc[:17,:]
jun2014 = jun2014.iloc[:17,:]
jul2014 = jul2014.iloc[:18,:]
aug2014 = aug2014.iloc[:9,:]
sep2014 = sep2014.iloc[:16,:]
oct2014 = oct2014.iloc[:27,:]
nov2014 = nov2014.iloc[:28,:]
dec2014 = dec2014.iloc[:28,:]

In [38]:
jun2014 = jun2014.rename(columns = {'TDoR list ref':'Source ref'})
aug2014 = aug2014.rename(columns = {'TDoR list ref':'Source ref'})
jan2014 = jan2014.rename(columns = {'Location':'Town/City/Municipality'})
feb2014 = feb2014.rename(columns = {'Location':'Town/City/Municipality'})
mar2014 = mar2014.rename(columns = {'Location':'Town/City/Municipality'})
mar2014['Tweet']=mar2014['Description']
apr2014 = apr2014.rename(columns = {'Location':'Town/City/Municipality'})
may2014 = may2014.rename(columns = {'Location':'Town/City/Municipality'})
jul2014 = jul2014.rename(columns = {'Location':'Town/City/Municipality'})
sep2014 = sep2014.rename(columns = {'Location':'Town/City/Municipality'})
oct2014 = oct2014.rename(columns = {'Location':'Town/City/Municipality'})
nov2014 = nov2014.rename(columns = {'Location':'Town/City/Municipality'})
dec2014 = dec2014.rename(columns = {'Location':'Town/City/Municipality'})
jun2014 = jun2014.drop(columns = ['Address','Locality'])
aug2014 = aug2014.drop(columns = ['Address','Locality'])

In [39]:
df_2014 = pd.concat([jan2014,feb2014,mar2014,apr2014,may2014,jun2014,jul2014,aug2014,sep2014, oct2014,nov2014,dec2014], axis = 0)
df_2014 = df_2014.drop(columns = 'Birthdate')

In [40]:
jan2013 = pd.read_csv('./2013/tdor_2013_01.csv')
feb2013 = pd.read_csv('./2013/tdor_2013_02.csv')
mar2013 = pd.read_csv('./2013/tdor_2013_03.csv')
apr2013 = pd.read_csv('./2013/tdor_2013_04.csv')
may2013 = pd.read_csv('./2013/tdor_2013_05.csv')
jun2013 = pd.read_csv('./2013/tdor_2013_06.csv')
jul2013 = pd.read_csv('./2013/tdor_2013_07.csv')
aug2013 = pd.read_csv('./2013/tdor_2013_08.csv')
sep2013 = pd.read_csv('./2013/tdor_2013_09.csv')
oct2013 = pd.read_csv('./2013/tdor_2013_10.csv')
nov2013 = pd.read_csv('./2013/tdor_2013_11.csv')
dec2013 = pd.read_csv('./2013/tdor_2013_12.csv')

In [41]:
jan2013 = jan2013.iloc[:34,:]
feb2013 = feb2013.iloc[:25,:]
mar2013 = mar2013.iloc[:17,:]
apr2013 = apr2013.iloc[:17,:]
may2013 = may2013.iloc[:20,:]
jun2013 = jun2013.iloc[:15,:]
jul2013 = jul2013.iloc[:32,:]
aug2013 = aug2013.iloc[:20,:]
sep2013 = sep2013.iloc[:24,:]
oct2013 = oct2013.iloc[:23,:]
nov2013 = nov2013.iloc[:13,:]
dec2013 = dec2013.iloc[:20,:]

In [42]:
jan2013 = jan2013.rename(columns = {'TDoR list ref':'Source ref'})
mar2013 = mar2013.rename(columns = {'TDoR list ref':'Source ref'})
may2013 = may2013.rename(columns = {'TDoR list ref':'Source ref'})
dec2013 = dec2013.rename(columns = {'TDoR list ref':'Source ref'})
feb2013 = feb2013.rename(columns = {'Location':'Town/City/Municipality'})
apr2013 = apr2013.rename(columns = {'Location':'Town/City/Municipality'})
jun2013 = jun2013.rename(columns = {'Location':'Town/City/Municipality'})
jul2013 = jul2013.rename(columns = {'Location':'Town/City/Municipality'})
aug2013 = aug2013.rename(columns = {'Location':'Town/City/Municipality'})
sep2013 = sep2013.rename(columns = {'Location':'Town/City/Municipality'})
oct2013 = oct2013.rename(columns = {'Location':'Town/City/Municipality'})
nov2013 = nov2013.rename(columns = {'Location':'Town/City/Municipality'})
jan2013 = jan2013.drop(columns = ['Address','Locality'])
mar2013 = mar2013.drop(columns = ['Address','Locality'])
may2013 = may2013.drop(columns = ['Address','Locality'])
dec2013 = dec2013.drop(columns = ['Address','Locality'])
apr2013['Tweet']=apr2013['Description']

In [43]:
df_2013 = pd.concat([jan2013,feb2013,mar2013,apr2013,may2013,jun2013,jul2013,aug2013,sep2013,oct2013,nov2013,dec2013], axis = 0)
df_2013 = df_2013.drop(columns = 'Birthdate')

In [44]:
jan2012 = pd.read_csv('./2012/tdor_2012_01.csv')
feb2012 = pd.read_csv('./2012/tdor_2012_02.csv')
mar2012 = pd.read_csv('./2012/tdor_2012_03.csv')
apr2012 = pd.read_csv('./2012/tdor_2012_04.csv')
may2012 = pd.read_csv('./2012/tdor_2012_05.csv')
jun2012 = pd.read_csv('./2012/tdor_2012_06.csv')
jul2012 = pd.read_csv('./2012/tdor_2012_07.csv')
aug2012 = pd.read_csv('./2012/tdor_2012_08.csv')
sep2012 = pd.read_csv('./2012/tdor_2012_09.csv')
oct2012 = pd.read_csv('./2012/tdor_2012_10.csv')
nov2012 = pd.read_csv('./2012/tdor_2012_11.csv')
dec2012 = pd.read_csv('./2012/tdor_2012_12.csv')

In [45]:
jan2012 = jan2012.iloc[:23,:17]
feb2012 = feb2012.iloc[:19,:]
mar2012 = mar2012.iloc[:29,:17]
apr2012 = apr2012.iloc[:27,:-1]
may2012 = may2012.iloc[:23,:-1]
jun2012 = jun2012.iloc[:22,:]
jul2012 = jul2012.iloc[:17,:17]
aug2012 = aug2012.iloc[:25,:]
sep2012 = sep2012.iloc[:31,:]
oct2012 = oct2012.iloc[:27,:]
nov2012 = nov2012.iloc[:13,:]
dec2012 = dec2012.iloc[:20,:]

In [46]:
df_2012 = pd.concat([jan2012,feb2012,mar2012,apr2012,may2012,jun2012,jul2012,aug2012,sep2012,oct2012,nov2012,dec2012], axis = 0)
df_2012 = df_2012.drop(columns = 'Birthdate')
df_2012 = df_2012.rename(columns = {'Location':'Town/City/Municipality'})

In [47]:
jan2011 = pd.read_csv('./2011/tdor_2011_01.csv')
feb2011 = pd.read_csv('./2011/tdor_2011_02.csv')
mar2011 = pd.read_csv('./2011/tdor_2011_03.csv')
apr2011 = pd.read_csv('./2011/tdor_2011_04.csv')
may2011 = pd.read_csv('./2011/tdor_2011_05.csv')
jun2011 = pd.read_csv('./2011/tdor_2011_06.csv')
jul2011 = pd.read_csv('./2011/tdor_2011_07.csv')
aug2011 = pd.read_csv('./2011/tdor_2011_08.csv')
sep2011 = pd.read_csv('./2011/tdor_2011_09.csv')
oct2011 = pd.read_csv('./2011/tdor_2011_10.csv')
nov2011 = pd.read_csv('./2011/tdor_2011_11.csv')
dec2011 = pd.read_csv('./2011/tdor_2011_12.csv')

In [48]:
jan2011 = jan2011.iloc[:27,:]
feb2011 = feb2011.iloc[:24,:]
mar2011 = mar2011.iloc[:26,:]
apr2011 = apr2011.iloc[:18,:]
may2011 = may2011.iloc[:16,:]
jun2011 = jun2011.iloc[:13,:]
jul2011 = jul2011.iloc[:11,:]
aug2011 = aug2011.iloc[:12,:]
sep2011 = sep2011.iloc[:17,:]
oct2011 = oct2011.iloc[:26,:]
nov2011 = nov2011.iloc[:19,:17]
dec2011 = dec2011.iloc[:22,:]

In [49]:
oct2011 = oct2011.rename(columns = {'TDoR list ref':'Source ref'})
oct2011 = oct2011.drop(columns = ['Address','Locality'])
dec2011['Tweet']=dec2011['Description']
oct2011 = oct2011.rename(columns = {'Town/City/Municipality':'Location'})

In [50]:
df_2011 = pd.concat([jan2011,feb2011,mar2011,apr2011,may2011,jun2011,jul2011,aug2011,sep2011,oct2011,nov2011,dec2011], axis = 0)
df_2011 = df_2011.drop(columns = 'Birthdate')
df_2011 = df_2011.rename(columns = {'Location':'Town/City/Municipality'})

In [51]:
jan2010 = pd.read_csv('./2010/tdor_2010_01.csv')
feb2010 = pd.read_csv('./2010/tdor_2010_02.csv')
mar2010 = pd.read_csv('./2010/tdor_2010_03.csv')
apr2010 = pd.read_csv('./2010/tdor_2010_04.csv')
may2010 = pd.read_csv('./2010/tdor_2010_05.csv')
jun2010 = pd.read_csv('./2010/tdor_2010_06.csv')
jul2010 = pd.read_csv('./2010/tdor_2010_07.csv')
aug2010 = pd.read_csv('./2010/tdor_2010_08.csv')
sep2010 = pd.read_csv('./2010/tdor_2010_09.csv')
oct2010 = pd.read_csv('./2010/tdor_2010_10.csv')
nov2010 = pd.read_csv('./2010/tdor_2010_11.csv')
dec2010 = pd.read_csv('./2010/tdor_2010_12.csv')

In [52]:
jan2010 = jan2010.iloc[:14,:]
feb2010 = feb2010.iloc[:10,:]
mar2010 = mar2010.iloc[:29,:-2]
apr2010 = apr2010.iloc[:15:]
may2010 = may2010.iloc[:20,:]
jun2010 = jun2010.iloc[:9,:]
jul2010 = jul2010.iloc[:12,:]
aug2010 = aug2010.iloc[:10,:17]
sep2010 = sep2010.iloc[:12,:]
oct2010 = oct2010.iloc[:15,:]
nov2010 = nov2010.iloc[:17,:]
dec2010 = dec2010.iloc[:22,:]

In [53]:
jun2010 = jun2010.drop(columns = ['Address','Locality'])
jun2010['Tweet']=jun2010['Description']
jul2010['Tweet']=jul2010['Description']
nov2010['Tweet']=nov2010['Description']
dec2010['Birthdate']=dec2010['Age']
jun2010 = jun2010.rename(columns = {'TDoR list ref':'Source ref'})
jun2010 = jun2010.rename(columns = {'Town/City/Municipality':'Location'})

In [54]:
df_2010 = pd.concat([jan2010,feb2010,mar2010,apr2010,may2010,jun2010,jul2010,aug2010,sep2010,oct2010,nov2010,dec2010], axis = 0)
df_2010 = df_2010.drop(columns = 'Birthdate')
df_2010 = df_2010.rename(columns = {'Location':'Town/City/Municipality'})

In [55]:
jan2009 = pd.read_csv('./2009/tdor_2009_01.csv')
feb2009 = pd.read_csv('./2009/tdor_2009_02.csv')
mar2009 = pd.read_csv('./2009/tdor_2009_03.csv')
apr2009 = pd.read_csv('./2009/tdor_2009_04.csv')
may2009 = pd.read_csv('./2009/tdor_2009_05.csv')
jun2009 = pd.read_csv('./2009/tdor_2009_06.csv')
jul2009 = pd.read_csv('./2009/tdor_2009_07.csv')
aug2009 = pd.read_csv('./2009/tdor_2009_08.csv')
sep2009 = pd.read_csv('./2009/tdor_2009_09.csv')
oct2009 = pd.read_csv('./2009/tdor_2009_10.csv')
nov2009 = pd.read_csv('./2009/tdor_2009_11.csv')
dec2009 = pd.read_csv('./2009/tdor_2009_12.csv')

In [56]:
jan2009 = jan2009.iloc[:18,:]
feb2009 = feb2009.iloc[:10,:]
mar2009 = mar2009.iloc[:15,:17]
apr2009 = apr2009.iloc[:8:]
may2009 = may2009.iloc[:39,:]
jun2009 = jun2009.iloc[:16,:]
jul2009 = jul2009.iloc[:13,:]
aug2009 = aug2009.iloc[:8,:]
sep2009 = sep2009.iloc[:7,:17]
oct2009 = oct2009.iloc[:19,:17]
nov2009 = nov2009.iloc[:18,:17]
dec2009 = dec2009.iloc[:21,:]

In [57]:
apr2009 = apr2009.drop(columns = ['Address','Locality'])
aug2009 = aug2009.drop(columns = ['Address','Locality'])
apr2009 = apr2009.rename(columns = {'TDoR list ref':'Source ref'})
aug2009 = aug2009.rename(columns = {'TDoR list ref':'Source ref'})
apr2009 = apr2009.rename(columns = {'Town/City/Municipality':'Location'})
aug2009 = aug2009.rename(columns = {'Town/City/Municipality':'Location'})

In [58]:
df_2009 = pd.concat([jan2009,feb2009,mar2009,apr2009,may2009,jun2009,jul2009,aug2009,sep2009,oct2009,nov2009,dec2009], axis = 0)
df_2009 = df_2009.drop(columns = 'Birthdate')
df_2009 = df_2009.rename(columns = {'Location':'Town/City/Municipality'})

In [59]:
jan2008 = pd.read_csv('./2008/tdor_2008_01.csv')
feb2008 = pd.read_csv('./2008/tdor_2008_02.csv')
mar2008 = pd.read_csv('./2008/tdor_2008_03.csv')
apr2008 = pd.read_csv('./2008/tdor_2008_04.csv')
may2008 = pd.read_csv('./2008/tdor_2008_05.csv')
jun2008 = pd.read_csv('./2008/tdor_2008_06.csv')
jul2008 = pd.read_csv('./2008/tdor_2008_07.csv')
aug2008 = pd.read_csv('./2008/tdor_2008_08.csv')
sep2008 = pd.read_csv('./2008/tdor_2008_09.csv')
oct2008 = pd.read_csv('./2008/tdor_2008_10.csv')
nov2008 = pd.read_csv('./2008/tdor_2008_11.csv')
dec2008 = pd.read_csv('./2008/tdor_2008_12.csv')

In [60]:
jan2008 = jan2008.iloc[:4,:17]
feb2008 = feb2008.iloc[:7,:17]
apr2008 = apr2008.iloc[:1,:17]
may2008 = may2008.iloc[:1,:17]
jun2008 = jun2008.iloc[:1,:17]
jul2008 = jul2008.iloc[:8,:17]
aug2008 = aug2008.iloc[:1,:17]
sep2008 = sep2008.iloc[:1,:17]
oct2008 = oct2008.iloc[:,:]
nov2008 = nov2008.iloc[:13,:17]
dec2008 = dec2008.iloc[:,:]

In [61]:
dec2008 = dec2008.drop(columns = ['Address','Locality'])
dec2008 = dec2008.rename(columns = {'TDoR list ref':'Source ref'})
dec2008 = dec2008.rename(columns = {'Town/City/Municipality':'Location'})

In [62]:
df_2008 = pd.concat([jan2008,feb2008,apr2008,may2008,jun2008,jul2008,aug2008,sep2008,oct2008,nov2008,dec2008], axis = 0)
df_2008 = df_2008.rename(columns = {'Location':'Town/City/Municipality'})
df_2008= df_2008.drop(columns = 'Birthdate')

In [63]:
jan2007 = pd.read_csv('./2007/tdor_2007_01.csv')
feb2007 = pd.read_csv('./2007/tdor_2007_02.csv')
mar2007 = pd.read_csv('./2007/tdor_2007_03.csv')
apr2007 = pd.read_csv('./2007/tdor_2007_04.csv')
may2007 = pd.read_csv('./2007/tdor_2007_05.csv')
jun2007 = pd.read_csv('./2007/tdor_2007_06.csv')
jul2007 = pd.read_csv('./2007/tdor_2007_07.csv')
aug2007 = pd.read_csv('./2007/tdor_2007_08.csv')
sep2007 = pd.read_csv('./2007/tdor_2007_09.csv')
oct2007 = pd.read_csv('./2007/tdor_2007_10.csv')
nov2007 = pd.read_csv('./2007/tdor_2007_11.csv')
dec2007 = pd.read_csv('./2007/tdor_2007_12.csv')

In [64]:
jan2007 = jan2007.iloc[:,:]
feb2007 = feb2007.iloc[:,:]
mar2007 = mar2007.iloc[:,:]
apr2007 = apr2007.iloc[:,:]
jul2007 = jul2007.iloc[:,:]
aug2007 = aug2007.iloc[:,:]
sep2007 = sep2007.iloc[:1,:]
nov2007 = nov2007.iloc[:4,:17]
dec2007 = dec2007.iloc[:2,:17]

In [65]:
jan2007 = jan2007.drop(columns = ['Address','Locality'])
feb2007 = feb2007.drop(columns = ['Address','Locality'])
mar2007 = mar2007.drop(columns = ['Address','Locality'])
apr2007 = apr2007.drop(columns = ['Address','Locality'])
jul2007 = jul2007.drop(columns = ['Address','Locality'])
aug2007 = aug2007.drop(columns = ['Address','Locality'])
dec2007 = dec2007.rename(columns = {'Tweets':'Tweet'})
sep2007 = sep2007.rename(columns = {'Location':'Town/City/Municipality'})
nov2007 = nov2007.rename(columns = {'Location':'Town/City/Municipality'})
dec2007 = dec2007.rename(columns = {'Location':'Town/City/Municipality'})
sep2007 = sep2007.rename(columns = {'Source ref':'TDoR list ref'})
nov2007 = nov2007.rename(columns = {'Source ref':'TDoR list ref'})
dec2007 = dec2007.rename(columns = {'Source ref':'TDoR list ref'})

In [66]:
df_2007 = pd.concat([jan2007,feb2007,mar2007,apr2007,jul2007,aug2007,sep2007,nov2007,dec2007], axis = 0)
df_2007 = df_2007.rename(columns = {'TDoR list ref':'Source ref'})
df_2007= df_2007.drop(columns = 'Birthdate')

In [67]:
tdor = pd.concat([df_2022, df_2021, df_2020, df_2019, df_2018, df_2017, df_2016, df_2015, df_2014, df_2013, df_2012, df_2011, df_2010, df_2009, df_2008, df_2007], axis = 0)

In [68]:
tdor.shape

(4420, 16)

In [69]:
tdor.isna().sum()

Name                        11
Age                       1377
Photo                     2360
Photo source              2518
Date                        11
Source ref                 493
Town/City/Municipality     330
State/Province             328
Country                     11
Latitude                    12
Longitude                   12
Category                    12
Cause of death              11
Description                 14
Tweet                     2226
Permalink                   11
dtype: int64

In [70]:
os.getcwd()

'/Users/ranyasatkuna/Documents/DSIR 1010/Projects/capstone/Data/original_data'

In [71]:
tdor.head()

,Name,Age,Photo,Photo source,Date,Source ref,Town/City/Municipality,State/Province,Country,Latitude,Longitude,Category,Cause of death,Description,Tweet,Permalink
0,Amarey Lej (Myara),21,2022_01_01_Amarey-Lej.jpg,https://www.facebook.com/sistersPGH/posts/2103...,1-Jan-2022,tgeu/tdor2022/01-Jan-2022/Amariey Lei,Pittsburgh,Pennsylvania,USA,40.446237,-79.88511,violence,shot,Amarey was found dead in the street at around ...,Amarey Lej (Myara) was found dead in the stree...,https://tdor.translivesmatter.info/reports/202...
1,Blenda Schneider (Beatriz),34,2022_01_01_Blenda-Schneider.jpg,https://g1.globo.com/pe/pernambuco/noticia/202...,2-Jan-2022,tgeu/tdor2022/02-Jan-2022/Blenda Schneider (Be...,Cabo de Santo Agostinho,Pernambuco,Brazil,-8.283895,-35.032098,violence,shot,Beatriz was shot in the street on her way back...,Blenda Schneider (Beatriz) was shot in the str...,https://tdor.translivesmatter.info/reports/202...
2,Briza Garces Florez,40,2022_01_02_Briza-Garces-Florez.jpg,https://viraltab.news/boyfriend-arrested-as-tr...,2-Jan-2022,tgeu/tdor2022/02-Jan-2022/Briza Garces Florez,Den Haag,South Holland,Netherlands,52.105506,4.357967,violence,stabbed,Briza's body was found covered in blood in a h...,The body of Briza Garces Florez was found in a...,https://tdor.translivesmatter.info/reports/202...
3,Duval Princess,24,2022_01_02_Duval-Princess.jpg,https://transgriot.com/only-2-days-into-the-ne...,2-Jan-2022,tgeu/tdor2022/03-Jan-2022/Duval Princess,Jacksonville,Florida,USA,30.253618,-81.554299,violence,not reported,Duval Princess died in hospital after being fo...,Duval Princess died in hospital after being fo...,https://tdor.translivesmatter.info/reports/202...
4,Joseline Calito,NaN,2022_01_01_Joseline-Calito.jpg,https://twitter.com/InfoOTRANS/status/14778844...,2-Jan-2022,tgeu/tdor2022/02-Jan-2022/Joseline Calito,Amatitlán,Guatemala,Guatemala,14.482314,-90.622492,violence,shot,Joseline was shot. No other information is kno...,Joseline Calito was shot in Amatitlán (Guatema...,https://tdor.translivesmatter.info/reports/202...

In [72]:
# tdor.to_csv('../processed_data/tdor.csv',index=False)